/*Se aplica o todo el documento*/
* {
    /*background-color: #2B2A33;*/
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/*Nombre*/
.titulo {
    font-weight: 600;
    color: #0d6efd;
    /*background-color: var(--colorGlobalCV);*/
    /*font-size: 50px;*/
    font-size: 3.125em;
    /*margin-bottom: 5px;*/
}

/*Ocupación/Profesion*/
.subtitulo {
    font-weight: 600;
    /*font-size: 25px;*/
    font-size: 1.5625em;
    /*Color de subtitulo*/
    margin-bottom: 22px;
}

/*Sección o cuadro de contacto*/
.contacto {
    margin: 10px 20px;
    display: flex;
    /*    align-content: center;
    align-items: center;*/
    text-align: center;
    border: 6px solid #0d6efd;
    padding: 10px;
    /*font-size: 17px;*/
    font-size: 1.0625em;
    /*position: center;*/
    /*margin-left: 10%;*/
    
}

/*Mantener centrados los elementos de contacto*/
.linkedin, .phone, .mapa, .gmail, .github, .portafolio {
    font-weight: 500;
    /*margin: auto;*/
    padding-right: 5%;
    color: #0d6efd;
    text-decoration: none;
}

.portafolio {
    padding-right: 0%;
}

/*Descripción o perfil*/
.descripcion-perfil {
    /*font-weight: 100;*/
    margin: 1.5rem 0 1.5rem 0;
    /*Justificar el texto*/
    text-align: justify;
    /*font-size: 16px;*/
    font-size: 1em;
    line-height: 1.6;
}

hr {
    font-weight: bold;
}

.titulo-seccion {
    /*font-size: 25px;*/
    font-size: 1.5625em;
    font-weight: 600;
    color: #0d6efd;
    /*padding-top: 1rem;*/
    padding-top: 1rem;
}

.seccion-expreriencia {
    margin-bottom: 30px;
}

/*Mantener en la misma linea titulo y fechas*/
.titulo-exp {
    /*margin: 20px;*/
    margin-top: 20px;
    margin-bottom: 8px;
    display: flex;
    font-weight: 600;
}

/*Para mostrar la fecha a la izquierda y centrada de titulo exp*/
.fechas {
    /*16px cambia según el tamaño del texto */
    margin: 0px 0 0 auto;
}

.subtitulo-exp {
    margin-bottom: 8px;
    color: grey;
    font-weight: 600;
}

.descripcion-exp {
    text-align: justify;
    margin-bottom: 30px;
    /*font-size: 16px;*/
    font-size: 1em;
    line-height: 1.6;
    /*margin: auto 40px 0 40px;*/
}

/*Formato para todos los Unorder List y los elementos dentro*/
ul {
    font-weight: 100;
    margin-top: 0px;
    list-style: none; /*Quitamos los marcadores */
    padding: 0; /*Quitamos el padding por defecto de la lista */
    /*margin-left: 20px;*/ /*Separamos la lista de la izquierda */
}

li::before { /*Añadimos contenido antes de cada elemento de la lista */
    content: "\2022"; /*Insertamos el marcador */
    /*font-size: 20px;*/
    font-size: 1.25em;
    padding-right: 8px; /*Establecemos el espacio entre las viñetas y el list item */
    color: #0d6efd; /*Coloreamos la viñeta */
}


/*Sección educación*/
.seccion-educacion {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

    .seccion-educacion ul {
        /*font-weight: 600;*/
        font-weight: normal;
        line-height: 1;
        /*font-size: 16px;*/
        font-size: 1em;
        /*word-wrap: normal;*/
        /*word-spacing: 5px;*/
    }

.seccion-cursos {
    margin-bottom: 2rem;
}

    .seccion-cursos ul {
        font-weight: normal;
        line-height: 0.80;
        /*word-wrap: normal;*/
        /*word-spacing: 5px;*/
    }

.seccion-idiomas {
    /*font-weight: lighter;*/
    font-weight: normal;
}

    .seccion-idiomas .negrita {
        font-weight: 600;
    }
/*Sección tecnologías*/
.seccion-tecnologias {
    margin-top: 1rem;
    /*font-weight: bold;*/
    font-weight: normal;
}

.tec {
    margin-top: 15px;
}
/*Para dividir las tecnologias en columnas*/
.texto-columnas {
    /*margin-top: 1rem;*/
    font-size: 16px;
    /*margin: 20px auto 0 20px;*/
    /*display: flex;*/
}

    .texto-columnas .col1 {
        position: absolute;
        bottom: 0px;
        left: 25%;
        width: 200px;
        margin-top: 20px;
        /*background-color: #ffff55;*/
    }

    .texto-columnas .col2 {
        margin-left: 60%;
        margin-right: 20px;
        margin-top: 20px;
        /*background-color: #ffffbb;*/
    }
/*
    .texto-columnas .col1 {
        display: flex;
    }

    .texto-columnas .col2 {
    }*/

/*.seccion-tecnologias ul {
    padding-left: 0px;
    list-style: none;
    z-index: 0;
}

    .seccion-tecnologias ul li {
        text-decoration: none;
        display: inline-block;*/
/*margin: 0 0 1.6875em 0;*/
/*padding: 0.35em 0 0 2.5em;
        position: relative;
        vertical-align: top;
        width: 48%;
    }

.col1, .col2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;*/
/*margin-left: 208px;*/
/*padding: 15px;
    line-height: 2em;
    border-bottom: 1px solid #e42d40;
}

.seccion-tecnologias ul li i {
    background: royalblue;
    text-align: center;
    position: absolute;
    display: block;
    color: white;
    border-radius: 100%;
    padding: 12px;
}*/
