@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @* Botones para mostrar y descargar el pdf min 19:25*@
    <div class="m-2">
        <a class="btn btn-primary" asp-controller="Home" asp-action="MostrarPdfenPagina" target="_blank">Ver Pdf</a>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="DescargarPdf">Descargar Pdf</a>
    </div>
    <div class="mt-2">
        <embed src="@Url.Action("MostrarPdfenPagina","Home")" width="800" height="600" type="application/pdf" />
    </div>
</div>
