@* min 11:30 aprox 
    estructura de mi html a pdf
*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaPdf</title>
</head>
<body>
</body>
</html>
